<div class="page-content scrollable-content">

    <div class="class-container">    
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>

                    <mat-form-field class="full-width">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" required />
                        @if (loginForm.get('username')?.hasError('required')) {
                            <mat-error>Username is required.</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" required />
                        @if (loginForm.get('password')?.hasError('required')) {
                            <mat-error>Password is required.</mat-error>
                        }
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                        Login
                    </button>
                </mat-card-actions>
                <div *ngIf="isLoading" class="loading-overlay">
                    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
                </div>
            </mat-card>
        </form>
        
        
    </div>
</div>